[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dataclasses = {version = ">=0.6",python_version = "< 3.7"}
attrs = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
statsmodels = "*"
seaborn = "*"
adaptive-alerting-detector-build = {git = "https://github.com/ExpediaDotCom/adaptive-alerting-detector-build.git",ref = "master"}

[dev-packages]
pytest = "*"
pylint = "*"
pipenv-setup = "*"
pytest-cov = "*"
adaptive-alerting-detector-build = {editable = true,path = "."}

[requires]
python_version = "3.7"
