[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
matplotlib = "*"
numpy = "*"
statsmodels = "*"
seaborn = "*"
related = "*"
docopt = "*"
requests = "*"
dataclasses = {version = "*",markers = "python_version<'3.7'"}
pandas = "==0.24.2"
numba = "*"
seasonal = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pipenv-setup = "*"
pytest-cov = "*"
adaptive-alerting-detector-build = {editable = true,path = "."}
responses = "*"
pytest-env = "*"
pipenv = "*"
flake8 = "*"
freezegun = "*"

[requires]
python_version = "3.7"
